*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
    background-position: 1060px 70px;
    background-image: url(./background.jpg\).jpg);
    background-repeat: no-repeat;
    font-family: Arial, Helvetica, sans-serif;
  /*  display: flex;
    justify-content: center;
    position: sticky;*/
}
div{
    display: block;
}
.container{
    max-width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

header{
    padding: 10px 25%;
    
}
header >#interface{
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
 
    
}
header a{
    color: darkgrey;
    text-decoration: none;
    align-items: stretch;
    display: inline-flex;
    position: -webkit-sticky;
    position: sticky;
    z-index: 190;
    background-color: black;
}
   
#logoprime{
    width: 120px;
}
header nav ul{
    list-style-type: none;
}
header nav  li{
    display: inline-block;
    padding: 20px 80px;
    
    
    
}
h1{
    font-weight: 400;
    font-size: 28px;
    line-height: 36px;
    color: white;
}
p{
    color: white;
    text-align: start;
    display: block;
    
}

button{
    display: table;
    margin-top: 48px;
    padding: 16px 18px 16px;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    background-color: #0F79AF;
    position: relative;
    font-size: 17px;
    min-width: 280px;
    text-align: center;
    font-weight: 700;
}
.customContainer_container{
    background-color: white;
}
#hh{
    color: black;
}
#pp{
    color: black;
}